body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:703px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:390px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:117px;
  width:106px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:700px;
  height:1px;
  display:flex;
  transition:none;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:2px;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:167px;
  width:106px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:112px;
  width:300px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.hint {
}
#u5_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.disabled {
}
#u5_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5.hint.disabled {
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:162px;
  width:300px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.hint {
}
#u6_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.disabled {
}
#u6_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6.hint.disabled {
}
#u7 label {
  left:0px;
  width:100%;
  height:100%;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:212px;
  width:104px;
  height:15px;
  display:flex;
  transition:none;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.disabled {
}
#u7.disabled {
}
#u7_img.selected.error {
}
#u7.selected.error {
}
#u7_img.selected.hint {
}
#u7.selected.hint {
}
#u7_img.selected.error.hint {
}
#u7.selected.error.hint {
}
#u7_img.mouseOver.selected {
}
#u7.mouseOver.selected {
}
#u7_img.mouseOver.selected.error {
}
#u7.mouseOver.selected.error {
}
#u7_img.mouseOver.selected.hint {
}
#u7.mouseOver.selected.hint {
}
#u7_img.mouseOver.selected.error.hint {
}
#u7.mouseOver.selected.error.hint {
}
#u7_img.mouseDown.selected {
}
#u7.mouseDown.selected {
}
#u7_img.mouseDown.selected.error {
}
#u7.mouseDown.selected.error {
}
#u7_img.mouseDown.selected.hint {
}
#u7.mouseDown.selected.hint {
}
#u7_img.mouseDown.selected.error.hint {
}
#u7.mouseDown.selected.error.hint {
}
#u7_img.mouseOver.mouseDown.selected {
}
#u7.mouseOver.mouseDown.selected {
}
#u7_img.mouseOver.mouseDown.selected.error {
}
#u7.mouseOver.mouseDown.selected.error {
}
#u7_img.mouseOver.mouseDown.selected.hint {
}
#u7.mouseOver.mouseDown.selected.hint {
}
#u7_img.mouseOver.mouseDown.selected.error.hint {
}
#u7.mouseOver.mouseDown.selected.error.hint {
}
#u7_img.focused.selected {
}
#u7.focused.selected {
}
#u7_img.focused.selected.error {
}
#u7.focused.selected.error {
}
#u7_img.focused.selected.hint {
}
#u7.focused.selected.hint {
}
#u7_img.focused.selected.error.hint {
}
#u7.focused.selected.error.hint {
}
#u7_img.selected.disabled {
}
#u7.selected.disabled {
}
#u7_img.selected.hint.disabled {
}
#u7.selected.hint.disabled {
}
#u7_img.selected.error.disabled {
}
#u7.selected.error.disabled {
}
#u7_img.selected.error.hint.disabled {
}
#u7.selected.error.hint.disabled {
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:91px;
  white-space:nowrap;
  text-transform:none;
}
#u7_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:285px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-decoration:underline ;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:365px;
  width:145px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-decoration:underline ;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-decoration:underline ;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:396px;
  width:196px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-decoration:underline ;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
